<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/drive.css' %}" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Document</title>
  </head>
  <body>
    <div>
      <button
        type="button"
        class="btn_image"
        id="img_btn"
        onclick="history.back()"
      >
        <img
          src="{% static 'css/images/back1.png' %}"
          alt="My image"
          width="80"
          height="80"
        />
      </button>
    </div>
    <div class="title">운전자 주행</div>
    <div
      style="
        text-align: center;
        margin-right: 500px;
        margin-top: 51px;
        font-size: 40px;
        color: #282828;
      "
    >
      <div style="margin-left: 250px">
        운전자님의 상태는
      </div>
      <div style="margin-top: 15px"><strong><span class="word">대기중</span></strong>입니다.</div>
    </div>

    <div style="text-align: center; margin-left: 400px; margin-top: -50px">
      <img
        src="{% static 'css/images/graph.png' %}"
        alt="My image"
        width="391"
        height="79.43"
      />
    </div>
    {% comment %} <div
      class="time"
      style="margin-top: 15px; margin-left: -610px; color: black; font-weight: bolder"
    >
      <span class="timer drive-timer" id="times">00:00:00</span>
    </div> {% endcomment %}
    <div id="container">
      <img
        style="margin-top: -210px"
        src="http://127.0.0.1:8000/facemesh"
        alt=""
        width="680"
        height="510"
      />
    </div>
    <div class="btn"">
      <input
        class="drive-timer_startBtn"
        type="button"
        value="Start"
        onclick="toggleBtn1()"
      />
      <input class="drive-timer_stopBtn" type="button" value="Stop" />
    </div>
    <script>
      var video = document.querySelector("#videoElement");

      if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices
          .getUserMedia({ video: true })
          .then(function (stream) {
            video.srcObject = stream;
          })
          .catch(function (err0r) {
            console.log("Something went wrong!");
          });
      }
      const timer = document.querySelector(".drive-timer"),
        startBtn = document.querySelector(".drive-timer_startBtn"),
        stopBtn = document.querySelector(".drive-timer_stopBtn");

      let TIME = 0;
      let cron;

      function startButton() {
        changeByJS1()
        start_video();
        updateTimer();
        stopButton();
        cron = setInterval(updateTimer, 1000);
        timer.classList.add("hide");
      }
      function stopButton() {
        changeByJS2()
        clearInterval(cron);
        timer.classList.remove("hide");
      }

      function updateTimer() {
        const hours = Math.floor(TIME / 3600);
        const checkMinutes = Math.floor(TIME / 60);
        const seconds = TIME % 60;
        const minutes = checkMinutes % 60;

        timer.innerText = `${hours < 10 ? `0${hours}` : hours}:${
          minutes < 10 ? `0${minutes}` : minutes
        }:${seconds < 10 ? `0${seconds}` : seconds}`;
        TIME++;
      }
      startBtn.addEventListener("click", startButton);
      stopBtn.addEventListener("click", stopButton);

      $().ready(function () {
        $(".drive-timer_startBtn").click(function () {
          Swal.fire({
            icon: "success",
            title: "분석을 시작합니다.",
            text: "화면에 얼굴이 잘 나올 수 있게 조정하십시오.",
          });
        });
      });

      $().ready(function () {
        $(".drive-timer_stopBtn").click(function () {
          Swal.fire({
            icon: "success",
            title: "분석을 종료합니다.",
            text: "",
          });
        });
      });

      function changeByJS1() {
        let x = document.getElementsByClassName("word")[0];
        x.innerText="주행중"; 
        {% comment %} x.style.color="red"; {% endcomment %}
     }

     function changeByJS2() {
      let x = document.getElementsByClassName("word")[0];
      x.innerText="대기중"; 
      {% comment %} x.style.color="red"; {% endcomment %}
   }

      function toggleBtn1() {
        // 토글 할 버튼 선택 (btn1)
        const btn1 = document.getElementById("times");

        // btn1 숨기기 (visibility: hidden)
        if (times.style.visibility == "hidden") {
          times.style.visibility = "visible";
        }
        // btn` 보이기 (visibility: visible)
        else {
          times.style.visibility = "visible";
        }
      }
    </script>
  </body>
</html>
