body {
  text-align: center;
}

img {
  margin-top: 280px;
  margin-right: 176.5px;
}

.login-box {
  margin-top: 20px;
}

.user-box {
  margin-top: 10px;
}

input {
  width: 350px;
  height: 45px;
  font-size: 15px;
  border: 0;
  outline: none;
  padding-left: 20px;
  background-color: rgb(233, 233, 233);
}

:-ms-input-placeholder {
  color: gray;
  font-weight: bold;
}

.login {
  margin-top: 16px;
  width: 371px;
  height: 45px;
  font-size: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #96d6c2;
  padding: 15px 50px 15px 50px;
  border: 0;
  outline: 0;
  font-weight: bolder;
  text-decoration: none;
}

.login:hover {
  background: #e8fcf9;
  text-decoration: none;
  cursor: pointer;
}

.btn_image {
  background-color: transparent !important;
  border: 0;
  position: absolute;
  left: 45px;
  top: -230px;
  cursor: pointer;
}

.link {
  margin-top: 10px;
  margin-left: 320px;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  color: #a6a6a6;
}
